---
layout: default
---

  <section class="wiki">
    <div class="standalone">

      {% include wiki_nav.html %}

      <div class="unit whole">
        <article>
          <!--
          <h1>{{ page.title }}</h1>
          -->
          <div class="improve right hide-on-mobiles">
            <a href="{{ "_edit" | prepend: page.url | replace: '/wiki', '' | prepend: site.help_url }}"><!--<i class="fa fa-pencil"></i> &nbsp;-->edit</a>
          </div>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      <div class="clear"></div>

      {% include wiki_nav.html %}
    </div>
  </section>
